<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, viewport-fit=cover">

    <title>FUNREST</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='assets/logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='index.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='rooms.css') }}" />
</head>

<body>
    <!-- Topbar -->
    <header>
        <nav class="navbar">
            <a href="./" class="home-button"><div class="FUNREST">FUNREST</div></a>
            <ul class="menu_header">
                <li class="item_header"><a href="./leistungen">Leistungen</a></li>
                <li class="item_header"><a href="./rooms">Zimmer</a></li>
                <li class="item_header"><a href="./reviews">Bewertungen</a></li>
                <li class="item_header"><a href="./about">Über uns</a></li>
            </ul>
            <button type="button" class="button_header" onclick="setlocation('login')">Anmeldung</button>
        </nav>
    </header>

    <!-- Main Content -->
    <main class="content">

        <div class="tile-container">
            <script src="static/js/fetch_rooms.js"></script>
        </div>

    </main>

    <!-- Footer -->
    <footer>
        <div class="footer">
            <ul class="menu_footer">
                <li class="item_footer"><a href="./impressum">Impressum</a></li>
                <li class="item_footer"><a href="#">Kontakt</a></li>
                <li class="item_footer"><a href="./agb">AGB</a></li>
            </ul>
        </div>
    </footer>
</body>

<script>
    function setlocation(url){
        window.location.assign(url)
    }
</script>

</html>