/* From Uiverse.io by bociKond */
.form {
    --bg-light: #efefef;
    --bg-dark: #838282;
    --clr: #58bc82;
    --clr-alpha: #9c9c9c60;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.form .input-span {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form input[type="text"]{
    border-radius: 3rem;
    padding: 0.5rem 0.25rem;
    width: 100%;
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
    border: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: white;
    outline: 2px solid var(--bg-dark);
}

.form input[type="email"]:focus,
.form input[type="password"]:focus {
    outline: 2px solid var(--clr);
}

.label {
    align-self: center;
    color: var(--textcolor);
    font-weight: 600;
}

.form .submit {
    padding: 1rem 0.75rem;
    width: 100%;
    display: flex;
    align-items: center;
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
    gap: 0.5rem;
    border-radius: 3rem;
    background-color: var(--buttoncolor);
    color: var(--text);
    border: none;
    cursor: pointer;
    transition: all 300ms;
    font-weight: 600;
    font-size: 0.9rem;
}

.form .submit:hover {
    background-color: #444444; /* Etwas helleres Grau beim Hover */
}

.span {
    text-decoration: none;
    color: var(--bg-dark);
    font-size: 12px;
}