.content{
    background-image: url(../assets/background.png);
    background-size: 110%;
    background-position-y: 30rem;
    background-blend-mode: overlay;
    background-color: rgb(54, 54, 54); /* Dunkelgrüner Hintergrund */
}

.header{
    margin-top: 2.5%;
    margin-bottom: 2%;
    text-align: center;
    font-weight: bolder;
}

.flexcontainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    margin: 5px;
    margin-left: 3%;
    margin-bottom: 10%;
}

.flexchild{
    flex-grow: 2;
    flex-flow: column wrap;
    flex-wrap: wrap;
    white-space: pre;

}

.flexchild a{
    text-decoration: none;
    color: white;
}

ol li {
    list-style-type: decimal;
    white-space: pre;

}

ul li {
    list-style-type: disc;
    white-space: pre;
}
  