    
.review-tile-container{
    display: flex;
    flex-direction: column;
    padding: 6em 10em;
    .review-tile{
        background: white;
        border-radius: 4px;
        margin: 2em;
        padding: 1em;
        color: black;
    
        .title{
            font-weight: 700;
        }
    }
    
}
