    
.tile-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    padding: 6em 10em;
    .tile{
        background: white;
        border-radius: 4px;
        margin: 2em;
        padding: 1em;
        color: black;
    
        .title{
            font-weight: 700;
        }
        .image-standard, .image-luxus, .image-premium {
            aspect-ratio: 3/2;
            margin-bottom: 1em;
            
            background-size: contain;
        }
        .image-standard{
            background-image: url('./assets/dummy/hotelzimmer_standard.jpg');
        }
        .image-luxus{
            background-image: url('./assets/dummy/hotelzimmer_Luxus.jpg');
        }
        .image-premium{
            background-image: url('./assets/dummy/hotelzimmer_premium.jpg');
        }

        .description{
            color: var(--textcolor);
        }
        .price{
            font-weight: 700;
        }
    }
}

.admin-tile-container{
    display: flex ;
    flex-direction: column ;
    .tile{
        background: white;
        border-radius: 4px;
        margin: 2em;
        padding: 1em;
        color: black;
        max-height: 200px;
        display: flex;
        justify-content: space-between;
    
        .title{
            font-weight: 700;
        }
        .detail-link:hover{
            cursor: pointer;
        }
        .image-standard, .image-luxus, .image-premium {
            margin-bottom: 1em;
            background-size: contain;
        }
        .image-standard{
            background-image: url('./assets/dummy/hotelzimmer_standard.jpg');
        }
        .image-luxus{
            background-image: url('./assets/dummy/hotelzimmer_Luxus.jpg');
        }
        .image-premium{
            background-image: url('./assets/dummy/hotelzimmer_premium.jpg');
        }

        .description{
            color: var(--textcolor);
        }
        .price{
            font-weight: 700;
        }

        .tile-content{
            width: 70%;
        }
        .deleteButton, .editButton{
            width: 150px;
            height: 50px;
        }
        .buttonContainer{
            display: flex;
            flex-direction: column;
        }
    }
}


