<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, viewport-fit=cover">

    <title>FUNREST</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='assets/logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='index.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='about.css') }}" />
</head>

<body>
    <!-- Topbar -->
    <header>
        <nav class="navbar">
            <a href="./" class="home-button"><div class="FUNREST">FUNREST</div></a>
            <ul class="menu_header">
                <li class="item_header"><a href="./leistungen">Leistungen</a></li>
                <li class="item_header"><a href="./rooms">Zimmer</a></li>
                <li class="item_header"><a href="./reviews">Bewertungen</a></li>
                <li class="item_header"><a href="./about">Über uns</a></li>
            </ul>
            <button type="button" class="button_header" onclick="setlocation('login')">Anmeldung</button>
        </nav>
    </header>

    <!-- Main Content -->
    <main class="content">
        <div class="container">
            
        <h1>Über uns</h1>
        <br>
        <br>
        <h4>Willkommen bei FUNREST</h5>
        Ihrer Anlaufstelle für erstklassige Hotelerlebnisse und unvergessliche Aufenthalte! Als führende Hotelkette bieten wir Ihnen nicht nur luxuriöse Zimmer und außergewöhnlichen Service, sondern auch eine benutzerfreundliche und moderne Plattform, um Ihren Aufenthalt noch angenehmer zu gestalten.
        <br>
        <br>
        Unsere Website wurde speziell entwickelt, um Ihnen eine einfache und effiziente Möglichkeit zu bieten, Ihre Zimmerbuchungen zu verwalten, Rechnungen zu erhalten und unser Angebot zu bewerten. Hier erfahren Sie alles über unser Hotel, unsere Services und wie wir Ihnen den Aufenthalt so angenehm wie möglich machen.
        <br>
        <br>
        <h4>Unsere Zimmer</h4>
        Unser Hotel bietet eine Vielzahl an Zimmerkategorien, die Ihren Bedürfnissen gerecht werden – von Luxus- und Premium-Zimmern bis hin zu komfortablen Standardzimmern. Alle Zimmer sind mit modernen Annehmlichkeiten ausgestattet und bieten Ihnen den perfekten Rückzugsort während Ihres Aufenthalts. Egal, ob Sie ein Einzel- oder Doppelzimmer benötigen, wir haben das passende Angebot für Sie.
        <br>
        <br>
        <h4>Unsere Kunden</h4>
        Wir legen großen Wert auf die Zufriedenheit unserer Gäste. Auf unserer Website können Sie nicht nur nach freien Zimmern suchen und buchen, sondern auch von einer einfachen und transparenten Buchungsplattform profitieren. Als Stammgast genießen Sie zahlreiche Vorteile und exklusiven Service.
        <br>
        <br>
        <h4>Rechnungsstellung und Datenverwaltung</h4>
        Unser Hotelteam hat die Möglichkeit, Ihnen eine detaillierte Rechnung basierend auf Ihrem Aufenthalt zu erstellen, die alle wichtigen Informationen wie Zimmerart, Buchungszeitraum, Kosten sowie An- und Abreisedaten enthält. Durch unsere Datenbankverwaltung stellen wir sicher, dass alle Gästeinformationen sicher gespeichert werden, damit wir Ihnen stets den bestmöglichen Service bieten können.
        <br>
        <br>
        <h4>Bewertungen und Feedback</h4>
        Ihre Meinung ist uns wichtig! Nach Ihrem Aufenthalt können Sie uns eine Bewertung hinterlassen, die wir nach Prüfung durch unseren Administrator auf unserer Landingpage veröffentlichen. So helfen Sie uns, unseren Service kontinuierlich zu verbessern und auch anderen Gästen bei ihrer Wahl zu unterstützen.
        <br>
        <br>
        <h4>Was uns ausmacht</h4>
        Bei FUNREST dreht sich alles um Komfort, Service und Kundenzufriedenheit. Unsere Mitarbeiter sind stets bemüht, Ihnen während Ihres Aufenthalts zur Seite zu stehen und dafür zu sorgen, dass Sie sich rundum wohlfühlen. Wir freuen uns darauf, Sie bald in einem unserer Hotels begrüßen zu dürfen!
        
        </div>


    </main>

    <!-- Footer -->
    <footer>
        <div class="footer">
            <ul class="menu_footer">
                <li class="item_footer"><a href="./impressum">Impressum</a></li>
                <li class="item_footer"><a href="./contact">Kontakt</a></li>
                <li class="item_footer"><a href="./agb">AGB</a></li>
            </ul>
        </div>
    </footer>
</body>

<script>
    function setlocation(url){
        window.location.assign(url)
    }
</script>

</html>