<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, viewport-fit=cover">

    <title>FUNREST</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='assets/logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='index.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='agb.css') }}" />
</head>

<body>
    <!-- Topbar -->
    <header>
        <nav class="navbar">
            <a href="./" class="home-button"><div class="FUNREST">FUNREST</div></a>
            <ul class="menu_header">
                <li class="item_header"><a href="#">Leistungen</a></li>
                <li class="item_header"><a href="#">Zimmer</a></li>
                <li class="item_header"><a href="#">Bewertungen</a></li>
                <li class="item_header"><a href="#">Über uns</a></li>
            </ul>
            <button type="button" class="button_header" onclick="setlocation('login')">Anmeldung</button>
        </nav>
    </header>

    <!-- Main Content -->
    <main class="content">
        <div class="h1">
            <h1>Allgemeine Geschäftsbedingungen der FUNREST GmbH</h1>
        </div>
        <div class="flexcontainer">
            <div class="flexchild">
                <div class="title">I. Geltungsbereich</div>
                <ol class="text">
                    <li class="numeric">Diese Geschäftsbedingungen gelten für Verträge über die mietweise
Überlassung von Hotelzimmern zur Beherbergung sowie alle in diesem
Zusammenhang für den Kunden erbrachten weiteren Leistungen und
Lieferungen der FUNREST GmbH.</li>
                    <li class="numeric">Die Unter- oder Weitervermietung der überlassenen Zimmer sowie deren
Nutzung zu anderen als Beherbergungszwecken bedürfen der vorherigen
Zustimmung der FUNREST GmbH in Textform.</li>
                    <li class="numeric">Allgemeine Geschäftsbedingungen des Kunden finden nur Anwendung, wenn
dies vorher ausdrücklich in Textform vereinbart wurde.</li>
                </ol>
            </div>
            <div class="flexchild">
                <div class="title">II. Vertragsabschluss, -partner, Verjährung</div>
                <ol class="text">
                    <li class="numeric">Der Vertrag kommt durch die Annahme des Antrags des Kunden durch die FUNREST
GmbH zustande. Die FUNREST GmbH steht es frei, die Zimmerbuchung in Textform
zu bestätigen.
                    </li>
                    <li class="numeric">Vertragspartner sind die FUNREST GmbH und der Kunde. Hat ein Dritter für den
Kunden bestellt, haftet er der FUNREST GmbH gegenüber zusammen mit dem Kunden
als Gesamtschuldner für alle Verpflichtungen aus dem Hotelaufnahmevertrag,
sofern der FUNREST GmbH eine entsprechende Erklärung des Dritten vorliegt.
                    </li>
                    <li class="numeric">Alle Ansprüche gegen die FUNREST GmbH verjähren grundsätzlich in einem Jahr
ab dem gesetzlichen Verjährungsbeginn. Schadensersatzansprüche verjähren
kenntnisunabhängig in fünf Jahren, soweit sie nicht auf einer Verletzung des
Lebens, des Körpers, der Gesundheit oder der Freiheit beruhen. Diese
Schadensersatzansprüche verjähren kenntnisunabhängig in zehn Jahren. Die
Verjährungsverkürzungen gelten nicht bei Ansprüchen, die auf einer
vorsätzlichen oder grob fahrlässigen Pflichtverletzung der FUNREST GmbH
beruhen.
                    </li>
                </ol>
            </div>
            <div class="flexchild">
                <div class="title">III. Leistungen, Preise, Zahlung, Aufrechnung</div>
                <ol class="text">
                    <li class="numeric">Die FUNREST GmbH ist verpflichtet, die vom Kunden gebuchten Zimmer
bereitzuhalten und die vereinbarten Leistungen zu erbringen.
                    </li>
                    <li class="numeric">Der Kunde ist verpflichtet, die für die Zimmerüberlassung und die von ihm in
Anspruch genommenen weiteren Leistungen vereinbarten bzw. geltenden Preise der
FUNREST GmbH zu zahlen. Dies gilt auch für vom Kunden direkt oder über die
FUNREST GmbH beauftragte Leistungen, die durch Dritte erbracht und von der
FUNREST GmbH verauslagt werden.
                    </li>
                    <li class="numeric">Die Preise verstehen sich einschließlich der zum Zeitpunkt des
Vertragsabschlusses geltenden Steuern.
                    </li>
                </ol>
            </div>
            <div class="flexchild">
                <div class="title">IV. Rücktritt des Kunden (Abbestellung, Stornierung) / Nichtinanspruchnahme der
                    Leistungen der FUNREST GmbH</div>
                <ol class="text">
                    <li class="numeric">Der Kunde kann vom Vertrag zurücktreten. Dabei gelten die nachfolgenden Bedingungen:
<ul class="unsortetlist">
<li class="bulletpoints">Bei einem Rücktritt bis zu 30 Tagen vor dem vereinbarten Anreisetag ist
der Rücktritt kostenfrei möglich.
    </li>
<li class="bulletpoints">Bei einem Rücktritt von 29 bis 14 Tagen vor dem vereinbarten Anreisetag
wird eine Stornierungsgebühr in Höhe von 50% des vereinbarten Preises
erhoben.
    </li>
<li class="bulletpoints">Bei einem Rücktritt von weniger als 14 Tagen vor dem vereinbarten
Anreisetag oder bei Nichtanreise wird eine Stornierungsgebühr in
Höhe von 100% des vereinbarten Preises erhoben.
    </li>
</ul>
                    </li>
                    <li class="numeric">Die Stornierungsgebühr wird auf die vereinbarten Leistungen berechnet.
                    </li>
                </ol>
            </div>
            <div class="flexchild">
                <div class="title">V. Rücktritt der FUNREST GmbH</div>
                <ol class="text">
                    <li class="numeric">Die FUNREST GmbH kann vom Vertrag zurücktreten, wenn ein Kunde die
vereinbarte Vorauszahlung nicht leistet oder wenn die vereinbarte
Anzahlung nicht innerhalb der gesetzten Frist eingegangen ist.
                    </li>
                    <li class="numeric">Bei berechtigtem Rücktritt der FUNREST GmbH entsteht kein Anspruch des
Kunden auf Schadensersatz.
                    </li>
                </ol>
            </div>
            <div class="flexchild">
                <div class="title">VI. Zimmerbereitstellung, -übergabe und -rückgabe</div>
                <ol class="text">
                    <li class="numeric">Der Kunde erwirbt keinen Anspruch auf die Bereitstellung bestimmter
Zimmer, soweit dieses nicht ausdrücklich in Textform vereinbart
wurde.
                    </li>
                    <li class="numeric">Gebuchte Zimmer stehen dem Kunden ab 15:00 Uhr des vereinbarten
Anreisetages zur Verfügung. Der Kunde hat keinen Anspruch auf
frühere Bereitstellung.
                    </li>
                    <li class="numeric">Am vereinbarten Abreisetag sind die Zimmer der FUNREST GmbH
spätestens um 11:00 Uhr geräumt zur Verfügung zu stellen.
Danach kann die FUNREST GmbH aufgrund der verspäteten Räumung
des Zimmers für dessen vertragsüberschreitende Nutzung bis
14:00 Uhr 50% des vollen Logispreises (Listenpreises) in
Rechnung stellen, danach 100%.
                    </li>
                </ol>
            </div>
            <div class="flexchild">
                <div class="title">VII. Haftung der FUNREST GmbH</div>
                <ol class="text">
                    <li class="numeric">Die FUNREST GmbH haftet für ihre Verpflichtungen aus dem Vertrag.
Ansprüche des Kunden auf Schadensersatz sind ausgeschlossen.
Hiervon ausgenommen sind Schadensersatzansprüche, die auf einer
Verletzung des Lebens, des Körpers, der Gesundheit oder der
Freiheit beruhen oder auf einer vorsätzlichen oder grob
fahrlässigen Pflichtverletzung der FUNREST GmbH.
                    </li>
                </ol>
            </div>
            <div class="flexchild">
                <div class="title">VIII. Schlussbestimmungen</div>
                <ol class="text">
                    <li class="numeric">Änderungen oder Ergänzungen dieser Geschäftsbedingungen bedürfen der Textform.
                    </li>
                    <li class="numeric">Sollten einzelne Bestimmungen dieser AGB unwirksam oder nichtig sein oder
werden, so wird dadurch die Wirksamkeit der übrigen Bestimmungen nicht berührt.
                    </li>
                    <li class="numeric">Es gilt ausschließlich deutsches Recht. Die Anwendung des UN-Kaufrechts und
des Kollisionsrechts ist ausgeschlossen.
                    </li>
                    <li class="numeric">Gerichtsstand ist der Sitz der FUNREST GmbH.
                    </li>
                </ol>
            </div>
        </div>
    </main>
    <!-- Footer -->
    <footer>
        <div class="footer">
            <ul class="menu_footer">
                <li class="item_footer"><a href="./impressum.html">Impressum</a></li>
                <li class="item_footer"><a href="#">Kontakt</a></li>
                <li class="item_footer"><a href="#">AGB</a></li>
            </ul>
        </div>
    </footer>

    <script>
        function setlocation(url){
            window.location.assign(url)
        }
    </script>
</body>

</html>