<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, viewport-fit=cover">

    <title>FUNREST</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='assets/logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='index.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='contact.css') }}" />
     <script src="static/js/mail.js"></script>
</head>

<body>
    <!-- Topbar -->
    <header>
        <nav class="navbar">
            <a href="./" class="home-button"><div class="FUNREST">FUNREST</div></a>
            <ul class="menu_header">
                <li class="item_header"><a href="#">Leistungen</a></li>
                <li class="item_header"><a href="#">Zimmer</a></li>
                <li class="item_header"><a href="#">Bewertungen</a></li>
                <li class="item_header"><a href="#">Über uns</a></li>
            </ul>
            <button type="button" class="button_header" onclick="setlocation('login')">Anmeldung</button>
        </nav>
    </header>

    <!-- Main Content -->
    <main class="content">
        <div class="contentinsel">
            <form class="form" id="email-form">
                <div class="inputfields">
                    <span class="input-span">
                        Vorname
                        <input type="text" placeholder="" name="vorname" id="vorname" required/>
                    </span>
                    <span class="input-span">
                        Nachname
                        <input type="text" name="nachname" id="nachname" placeholder="" required/>
                    </span>
                    <span class="input-span">
                        Email
                        <input type="text" name="email" id="email" placeholder="" required/>
                    </span>
                    <span class="input-span">
                        Nachricht
                        <textarea id="nachricht" name="nachricht" rows="4" cols="50" required></textarea>
                    </span>
                </div>
                <input class="submit" type="submit" value="Senden" />
            </form>
        </div>
    </main>
    <!-- Footer -->
    <footer>
        <div class="footer">
            <ul class="menu_footer">
                <li class="item_footer"><a href="./impressum">Impressum</a></li>
                <li class="item_footer"><a href="./contact">Kontakt</a></li>
                <li class="item_footer"><a href="./agb">AGB</a></li>
            </ul>
        </div>
    </footer>

    <script>
        function setlocation(url){
            window.location.assign(url)
        }
    </script>
</body>

</html>