<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, viewport-fit=cover">

    <title>FUNREST</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='assets/logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='index.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='register.css') }}" />
</head>

<body>
    <!-- Topbar -->
    <header>
        <nav class="navbar">
            <a href="./" class="home-button"><div class="FUNREST">FUNREST</div></a>
            <ul class="menu_header">
                <li class="item_header"><a href="#">Leistungen</a></li>
                <li class="item_header"><a href="#">Zimmer</a></li>
                <li class="item_header"><a href="#">Bewertungen</a></li>
                <li class="item_header"><a href="#">Über uns</a></li>
            </ul>
            <button type="button" class="button_header" onclick="setlocation('login')">Anmeldung</button>
        </nav>
    </header>

    <!-- Main Content -->
    <main class="content">
        <div class="contentinsel">
            <form class="form">
                <div class="inputfields">
                    <span class="input-span">
                        Vorname *
                        <input type="text" placeholder="Vorname" name="vorname" id="vorname" required/>
                    </span>
                    <span class="input-span">
                        Passwort *
                        <input type="password" placeholder="Passwort" name="passwort" id="passwort" required/>
                    </span>
                    <span class="input-span">
                        Telefon
                        <input type="text" pattern="(\+)?\d{13,20}" name="telefon" id="telefon" placeholder="Telefon"/>
                    </span>
                    <span class="input-span">
                        Straße * 
                        <input type="text" name="strasse" id="strasse" placeholder="Straße" required/>
                    </span>
                </div>
                <div class="inputfields">
                    <span class="input-span">
                        Nachname *
                        <input type="text" name="nachname" id="nachname" placeholder="Nachname" required/>
                    </span>
                    <span class="input-span">
                        Passwort Wiederholen *
                        <input type="password" name="passwort" id="passwort" placeholder="Passwort Wiederholen" required/>
                    </span>
                    <span class="input-span">
                        Geschlecht
                        <input type="text" name="gender" placeholder="Geschlecht" id="gender" />
                    </span>
                    <span class="input-span">
                        Ort *
                        <input type="text" name="Orts" placeholder="Ort" id="Orts" />
                    </span>
                </div>
                <div class="inputfields">
                    <span class="input-span">
                        Nutzername *
                        <input type="text" name="nutzername" id="nutzername" placeholder="Nutzername" required/>
                    </span>
                    <span class="input-span">
                        Land *
                        <input type="text" name="contry" id="contry" placeholder="Land" required/>
                    </span>
                    <span class="input-span">
                        Geburtsdatum
                        <input type="text" pattern="\d{2}.\d{2}.\d{4}" name="brithdate" placeholder="Geburtsdatum" id="gender" />
                    </span>
                    <span class="input-span">
                        PLZ *
                        <input type="text" pattern="[0-9]{5}" name="plz" placeholder="Postleitzahl" id="plz" />
                    </span>
                </div>
                <span class="hinweis">Pflichtenangaben sind mit * gekennzeichnet</span>
                <input class="submit" type="submit" value="Regristieren" />
            </form>
        </div>
    </main>
    <!-- Footer -->
    <footer>
        <div class="footer">
            <ul class="menu_footer">
                <li class="item_footer"><a href="./impressum">Impressum</a></li>
                <li class="item_footer"><a href="./contact">Kontakt</a></li>
                <li class="item_footer"><a href="./agb">AGB</a></li>
            </ul>
        </div>
    </footer>

    <script>
        function setlocation(url){
            window.location.assign(url)
        }
    </script>
</body>

</html>